@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);

li {
	display: inline;
}

a {
	color: #9bddff;
	text-decoration: none;
}

a:hover {
	color: #384d9e;
	text-decoration: underline;
}

body {
	background-image:url("../img/particles.jpg");
	 margin: 0 !important;
    padding: 0 !important;
}
head {

}


h1 {
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
 	font-size: 22px;
 	
    text-rendering: optimizeLegibility;

	color: #ffffff;
	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;
    
    letter-spacing: .1em;

    text-shadow: 
      0 -1px 0 #fff, 
      0 1px 1px rgba(150,150,150,0.9), 
      1px 3px 1px rgba(90,90,90,0.8), 
      2px 5px 1px rgba(60,60,60,0.7),  
      3px 7px 1px rgba(45,45,45,0.6),  
      4px 9px 1px rgba(35,35,35,0.5),  
      5px 11px 1px rgba(27,27,27,0.4),   
      6px 13px 1px rgba(18,18,18,0.3),  
      7px 15px 1px rgba(13,13,13,0.2),  
      8px 17px 1px rgba(10,10,10,0.1),  
      9px 19px 1px rgba(0,0,0,0.0);
}


.centerh1{
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
 	font-size: 22px;
 	
    text-rendering: optimizeLegibility;

	color: #ffffff;
	text-align: center;

    
    letter-spacing: .1em;

    text-shadow: 
      0 -1px 0 #fff, 
      0 1px 1px rgba(150,150,150,0.9), 
      1px 3px 1px rgba(90,90,90,0.85), 
      2px 5px 1px rgba(60,60,60,0.8),  
      3px 7px 1px rgba(45,45,45,0.7),  
      4px 9px 1px rgba(35,35,35,0.55),  
      5px 11px 1px rgba(27,27,27,0.40),   
      6px 13px 1px rgba(18,18,18,0.20),  
      7px 15px 1px rgba(13,13,13,0.10),  
      8px 17px 1px rgba(10,10,10,0.05),  
      9px 19px 1px rgba(0,0,0,0.0);
}

.centerh1-nop{
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
 	font-size: 30px;
 	
    text-rendering: optimizeLegibility;

	color: #ffffff;
	text-align: center;
	padding: 0px;

    
    letter-spacing: .1em;

    text-shadow: 
      0 -1px 0 #fff, 
      0 1px 1px rgba(150,150,150,0.9), 
      1px 3px 1px rgba(90,90,90,0.85), 
      2px 5px 1px rgba(60,60,60,0.8),  
      3px 7px 1px rgba(45,45,45,0.7),  
      4px 9px 1px rgba(35,35,35,0.55),  
      5px 11px 1px rgba(27,27,27,0.40),   
      6px 13px 1px rgba(18,18,18,0.20),  
      7px 15px 1px rgba(13,13,13,0.10),  
      8px 17px 1px rgba(10,10,10,0.05),  
      9px 19px 1px rgba(0,0,0,0.0);
}

h2 {
	font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
 	font-weight: normal;
        
	letter-spacing: .2em;
 	line-height: 1.1em;
	margin:0px;
	
	font-size: 18px;
	text-rendering: optimizeLegibility;
	color: #ffffff;
	
	text-align: left;
	padding-bottom:10px;
}
h3 {
	font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
 	font-weight: normal;
        
	letter-spacing: .2em;
 	line-height: 1.1em;
	margin:0px;
	
	font-size: 14px;
	text-rendering: optimizeLegibility;
	color: #ffffff;
	padding-bottom:30px;
	
	text-align: left;
}
.centerh3 {
	font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
 	font-weight: normal;
        
	letter-spacing: .2em;
 	line-height: 1.1em;
	margin:0px;
	
	font-size: 14px;
	text-rendering: optimizeLegibility;
	color: #ffffff;
	
	
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;

	text-shadow: 1px 1px 0px rgba(0,0,0,0.9);
}

.main-container {
      float: left;
      position: relative;
      font-size: 0;
      
    }
.fixer-container {
      float: left;
      position: relative;
      
      width:60%;
      font-size: 0;

    }

.left-container {
      float: left;
      position: relative;
      width:50%;
      font-size: 0;
     
    }
.right-container {
      float: right;
      position: relative;
      width:50%;
      font-size: 0;
      
     
    }
    .veryleft-container {
      float: left;
      position: relative;
      
      
      width:20%;
      font-size: 0;
     
    }

     .veryright-container {
      float: right;
      position: relative;
      
      width:20%;
      font-size: 0;
      padding-top: 10%;
     
    }
.padding {
	padding-bottom: 20px;
}
.paddingpx {
	padding-bottom: 21px;
}











